<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="int" type="java.lang.Integer" />
		<typeAlias alias="str" type="java.lang.String" />
		<typeAlias alias="map" type="java.util.Map" />
		<typeAlias alias="list" type="java.util.List" />
		
		<typeAlias alias="member" type="jiniShop.vo.MemberVO" />
		<typeAlias alias="users" type="jiniShop.vo.UsersVO" />
		<typeAlias alias="loginView" type="jiniShop.vo.Login_ViewVO" />
		<typeAlias alias="qna" type="jiniShop.vo.QnaVO" />


	</typeAliases>
	
	<mappers>

		<mapper resource="sql/mapper/member.xml" />
		<mapper resource="sql/mapper/qna.xml" />

	</mappers>
</configuration>
